<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/paginainicial.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <title>Especiarias da Vovó - Inicio </title>
    <link rel="icon" type="image/x-icon" href="/produtos/icon-novo3.png">
   </head>
    <body>
        
            <nav>
                <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label> <img src="https://uploaddeimagens.com.br/images/004/572/943/full/MicrosoftTeams-image_%282%29.png?1691696928" class="logo" alt="" width="370"> </label>
                <ul>
                    <li><a th:href="@{/especiarias/vitrine}">  Página inicial </a></l>
              		<li><a th:href="@{/especiarias/pagProdutos}">  Produtos </a></li>
              		<li><a th:href="@{/especiarias/sobrenos}">  Sobre nós </a></li>    
              		<li><a th:href="@{/especiarias/login}">  Login </a></li> 
                </ul>
            </nav>
            
            <div class="corposite">
                <div class="apresentacao">
                    <p><b>Seja bem vindo ao site Especiarias da Vovó</p></b>
                </div>
                    <div class="nesse">
                        <p>
                            Neste site vendemos temperos para deixar sua comida mais saborosa. <br>
                            Aproveite!
                        </p>
                </div>
                <div class="restocorpo">
                    <br>
                        <div class="noticias">
                            <p>NOVIDADES</p>
                        </div>
                    <br>
                        <div class="subtexto">
                            <p>
                               Nossas novidades fresquinhas que acabaram de chegar na loja!
                            </p>
                        </div>
                    <br>
                    <div class="produtos">
                         <ul>


                                <li>
                                     <img id="alecrim" th:src="@{'/img/alecrim'}" alt="alecrim">
                                    <h4>Alecrim</h4>
                                    <h3>100g</h3>
                                    <p>R$7,99</p>
                                    
                                </li>
                            <li>
                                <img id="Chimichuri" th:src="@{'/img/chimichuri'}" alt="chimichuri">
                                    <h4> Chimichuri</h4>
                                    <h3>100g</h3>
                                    <p>R$9,99</p>
                                  
                            </li>
                            <li>
                                <img id="chipotle" th:src="@{'/img/chiptle'}" alt="chipotle">
                                    <h4> Chipotle</h4>
                                    <h3>100g</h3>
                                    <p>R$8,55</p>
                                    
                            </li>
                        </ul>
                        
                    </div>
                    <div class="introducaotexto">
                        <div class="noticias">
                            <p>OBJETIVO</p>
                        </div>
                        
                        <div class="subtexto">
                            <p>
                             O site Especiarias da Vovó é projetado com o propósito de auxiliar nossos clientes na criação e experimentação de novas receitas, proporcionando a eles a oportunidade de explorar um mundo de sabores totalmente novo.
                            </p>
                        </div>
        <br>
        <br>
                            <br>
                            <div class="noticias">
                                <p>ODS</p>
                            </div>
                            <div class="subtexto">
                                <p>
                                    
                                    Nós das Especiarias da Vovó utilizamos métodos de coleta de Manufatura Circular para manter o equilíbrio entre consumo e produção. Além do método de manufatura, tudo que colhemos é plantado em nossa própria estufa. Também replantamos em escala tudo o que é retirado, o que ajuda a preservar o meio ambiente e desenvolver a economia e gastronomia de forma consciente e responsável.
                                    <br>
                                </p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="delivery">
                                <div class="noticias">
                                    <p>DELIVERY</p>
                                </div>
                                <div class="subtexto">
                                    <p>
                                    
                                   
Oferecemos a flexibilidade de compra de temperos em quantidades que atendam às suas necessidades, variando de 100g a 1kg ou até 2kg a 10kg.
                                    <br>
                                    Realizamos entregas em Barueri e regiões vizinhas por meio de Motoboy ou com o nosso próprio caminhão de entrega, garantindo a comodidade e pontualidade que você merece.
                                    </p>
                                </div>
                                <br>
                            <section class="delivery">
                                <table>
                                    <tr>
                                        <th>entrega por veiculo</th>
                                        <th>sistema refrigerado</th>
                                        <th>tudo agendado</th>
                                    </tr>
                                    <tr>
<br>									<img id="carro" th:src="@{'/img/carro'}" alt="chipotle">
										<img id="geladeira" th:src="@{'/img/geladeira'}" alt="chipotle">
										<img id="agendado" th:src="@{'/img/agendado'}" alt="chipotle">
                                    </tr>
                                </table>
                            </section>
        
                            
        
                        </div>
                    </div>
                </div>
              
            </body>
            </html>

    


           
            
               
            

          
                   
    
            
    
        