<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/paginainicial.css">
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="icon" type="image/x-icon" href="/produtos/icon-novo3.png">

    <title>Especiarias Da Vovó - Sobre nós</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <img src="https://uploaddeimagens.com.br/images/004/572/943/full/MicrosoftTeams-image_%282%29.png?1691696928" alt="" width="370"> </label>            <ul>
            <li><a th:href="@{/especiarias/users/inicio}">  Página inicial </a></li>
              		<li><a th:href="@{/especiarias/users/pagproduto}">  Produtos </a></li>
              		<li><a th:href="@{/especiarias/users/sobrenos}">  Sobre nós </a></li>    
              		<li><a th:href="@{/login?logout}">  Sair </a></li>
            </ul>
      </nav>

    <div class="corposite">
        <div class="apresentacao">
        </div>
 </div>
        <div class="restocorpo">
            <br>
            <div class="noticias">
                <center>
                <p>SOBRE NÓS</p>
            </div>
            <br>
            <div class="subtexto">

                    <font face="Arial" style="text-indent: 6rem;"> 
 
                        <p> 
                          
Seja bem-vindo à "Especiarias da Vovó", o seu destino apaixonado por trazer à sua cozinha sabores autênticos e especiais. Desde nossa fundação em 2023, nos dedicamos a oferecer uma seleção cuidadosamente escolhida de especiarias que despertam os sentidos e transformam suas refeições em memórias inesquecíveis.
</p>
<br>

<p>
    Na "Especiarias da Vovó", honramos a tradição e o amor pela culinária, valores que passam de geração em geração. Inspirada pela avó de um de nossos fundadores, uma mestra culinária que dominava o uso de especiarias para criar pratos excepcionais, nossa empresa segue seus ensinamentos e segredos para trazer esses sabores excepcionais para sua cozinha.
</p>
    <br>
    
<p>
    Dentro de nosso vasto catálogo, você descobrirá uma incrível variedade de especiarias e temperos, desde os clássicos indispensáveis, como pimenta-do-reino e canela, até misturas exclusivas que desenvolvemos para proporcionar sabores únicos aos seus pratos. Nossa missão é "Adicionar mais sabor à sua vida". Nossos especialistas são verdadeiros artistas na seleção de temperos artesanais de todos os tipos, garantindo a qualidade e a satisfação de nossos clientes.
</p>
<br>
<p>
  Valorizamos profundamente nossos clientes e estamos comprometidos em oferecer um atendimento personalizado e eficiente. Se você é um chef profissional, um entusiasta da     culinária ou alguém que está apenas começando sua jornada na cozinha, estamos aqui para ajudar e proporcionar uma experiência completa.
</p>
         </div>
                </font> <br />
            </center>
          
</body>
</html>